/*---SASS Variables---*/
$darkGrey: #58585a;
$lightGrey: #a4a4a5;
$darkBlue: #83d3eb;
$lightBlue: #bee6f3;
$white: #f6f8f9;
$paragraphFont: 'Lato', sans-serif;
$titleFont: 'Lato', sans-serif;

.navbar-default .navbar-toggle .icon-bar {
	background-color: $darkGrey;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: $lightGrey;
}